<p style="background-color: #7db1bf; padding: 4%">
    Most of the training attenders do not need it because they are not able to be learnt. However, they are able to
    pay and it is the main purpose of the trainings.
</p>
<p>
    Our training centre is the best in the world. Fill the form and manager will call you.
    Be sure you fill the form correctly!
</p>