<img style="width: 100%; margin-bottom: 4%" src="<%= img %>">
<h1>Насолоджуйтеся послугами нашого тренінгового центру!</h1>
<h6>
    Хто не хоче насолоджуватися - Вам же гірше. Ми Вас знайдемо і доведемо і Вам особисто, і Вашим
    потенціним роботодавцям, що Ви нічого не знаєте.
</h6>