<img style="width: 100%; margin-bottom: 4%" src="<%= img %>">
<h1>Enjoy our training centre services!</h1>
<h6>It will become bad for you, if you do not want to enjoy our services.
    We will find you and prove to to you and your potential bosses that you do not know anything.</h6>