<p style="background-color: #7db1bf; padding: 4%">
    Більшість відвідувачів ниших тренінгів їх не потребують, оскільки не піддаються навчанню. Але
    вони платежеспроможна, і в цьому основна суть тренінгів
</p>
<p>
    Наш тренінговий центра є найкрутішим у світі!
    Заповніть заявку і, з Вами зв'яжкеться наш менеджер. Тільки спробуйте не заповнити або заповнити неправильно!
</p>